[submodule "saleor"]
	path = saleor
	url = https://github.com/iacobfred/saleor.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/iacobfred/saleor-dashboard.git
[submodule "shops"]
	path = shops
	url = https://github.com/iacobfred/shops.git
